* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .3s cubic-bezier(.38, 1.15, .7, 1.12);
    font-weight: normal;
    font-family: 'Cairo', sans-serif;
    direction: ltr;
}
body{
    background-color: #e8eff8;
    color: #424242;
}

        /* the box 1 */
.FormAll{
    direction: rtl;
}
.FormAll .form-title {
    width: 50%;
    background-color: white;
    margin: 1rem auto;
    padding: 2rem;
    border-top: solid 1.5rem #194382;
    border-left: solid 1px rgb(185, 185, 185);
    border-right: solid 1px rgb(185, 185, 185);
    border-bottom: solid 1px rgb(185, 185, 185);
    box-shadow: 0px 1px 3px #d1d0d0;
    border-radius: 1rem;
}
.FormAll .form-title h1 {
    font-size: 1.2rem;
    font-weight: 700;
}
                /* end box 1 */



                /* the form box*/

.FormAll form  {
    width: 50%;
    margin: 1rem auto;
}
                /* end form box*/ 



                /* the box 2 */
.FormAll form .section-One {
    background-color: white;
    border: solid 1px rgb(185, 185, 185);
    padding: 2rem;
    box-shadow: 0px 1px 3px #d1d0d0;
    border-radius: 1rem;
    margin: 1rem 0;
}
.FormAll form .section-One .div-section-One {
    margin: 1rem 0;
}
.FormAll form .section-One .div-section-One label {
    margin: .5rem 0;
    display: block;
}
.FormAll form .section-One .div-section-two label:first-of-type {
    margin: .3rem 0;
}
.FormAll form .section-One .div-section-two .gender-All {
    display: flex;
    justify-content: space-evenly;
}
.FormAll form .section-One .div-section-two .gender-All input {
accent-color: #b28105 ;
}
.FormAll  form .section-One .div-section-One input {
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 0.6rem ;
    width: 100%;
}
                /* end box 2 */



                /* the box 3 */
.FormAll form .second-section {
    background-color: white;
    padding: 2rem;
    border: solid 1px rgb(185, 185, 185);
    box-shadow: 0px 1px 3px #d1d0d0;
    border-radius: 1rem;
    margin: 1rem 0;
}

.FormAll form .second-section .div-second-section {
    margin: 1rem 0;
}
.FormAll form .second-section .div-second-section label {
    margin: .5rem 0;
    display: block;
}
.FormAll form .second-section .div-second-section input {
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 0.6rem ;
    width: 100%;
}
            /* end box 3 */



            /* the box 4 */
.FormAll form input[type="submit"] {
    margin: 0.3rem 0 1rem 0;
    color: white;
    padding: 0.3rem 2rem;
    background-color: rgb(229, 166, 4);
    border: none;
}
            /* end box 4 */



            /* ********************************************************************* */


/* Mobile */
@media screen and (max-width: 767px) {
    .FormAll{
        padding: 1rem;
    }
    .FormAll .form-title h1 {
        font-size: 1rem;
    }
    .FormAll .form-title {
        width: 100%;
        font-size: 0.8rem;
        padding: 1rem;
        border-top: solid 1.2rem #194382;
        margin-bottom: 0rem;
    }
    .FormAll form {
        padding: 0;
        width: 100%;
        margin-top: 0.8rem;
    }
    .FormAll form .section-One {
        font-size: .78rem;
        padding: 1rem;
        margin: 0rem 0;
    }
    .FormAll form .second-section {
        padding: 1rem;
        font-size: .8rem;
    }
    .second-section .div-second-section select{
        width: 100%;
        border-radius: 10px;
        color: #575454;
        padding: 0.3rem;
        font-size: .8rem;
        background-color: #f3f3f3;
    }
    .second-section .div-second-section select option{
    font-size: .7rem;
    border-radius: 5px;
    }
    
    .FormAll form .second-section .div-second-section input {
        padding: 0.4rem;   
    }
    .FormAll form .section-One .div-section-One input {
        padding: 0.4rem; 
    }
    .FormAll form input[type="submit"] {
        font-size: .8rem;
        padding: 0.3rem 1.2rem;
    }
}


/* small Screens */
@media screen and (min-width: 768px) {
    .FormAll .form-title {
        width: 70%;
        font-size: .9rem;
    }
    .FormAll form {
        width: 70%;
        font-size: .9rem;
    }
    .FormAll .form-title h1 {
        font-size: 1.1rem;
    }

    .FormAll form .section-One .div-section-One input {
        padding: 0.5rem;
    }
    .FormAll form input[type="submit"] {
        padding: 0.2rem 1.5rem;
        font-size: .9rem;
    }
    .second-section .div-second-section select{
        width: 100%;
        border-radius: 10px;
        color: #575454;
        padding: 0.3rem;
        font-size: .9rem;
        background-color: #f3f3f3;
    }
    .second-section .div-second-section select option{
    font-size: .7rem;
    border-radius: 5px;
    }
}

/* Medium Screen */
@media screen and (min-width: 992px) {
    .FormAll .form-title {
        width: 50%;
        font-size: 1rem;
    }
    .FormAll form {
        width: 50%;
        font-size: 1rem;
    }
    .FormAll  form .section-One .div-section-One input {
        padding: 0.6rem ;
    }
    .FormAll form input[type="submit"] {
        padding: 0.3rem 2rem;
        font-size: 1rem;
    }
    .second-section .div-second-section select{
        width: 100%;
        border-radius: 10px;
        color: #575454;
        padding: 0.3rem;
        font-size: 1.1rem;
        background-color: #f3f3f3;
    }
    .second-section .div-second-section select option{
    font-size: 1rem;
    border-radius: 5px;
}
}
/* Large Screens */
@media screen and (min-width: 1024px) {

}


